<header class="bg-gradient">
  <div class="vertical text-white">
    <div class="container px-4 text-center">
      <h1 class="fw-bolder top-h1-pc">ApexLegends Statusにようこそ</h1>
      <h1 class="fw-bolder top-h1-mb">ApexLegends Statusに</h1>
      <h1 class="fw-bolder top-h1-mb">ようこそ</h1>
      <p class="lead">自分や登録ユーザーのアカウントの総合戦績、日別のキル数を確認できます。</p>
      <%= link_to "新規会員登録して戦績を確認する", new_user_registration_path, class: "btn btn-lg btn-dark btn-border-color-white top-btn" %>
      <%= link_to "ログインはこちら", new_user_session_path, class: "btn btn-lg btn-dark btn-border-color-white top-btn" %>
    </div>
  </div>
</header>
