<% if user_signed_in? %>
  <%= render "login_user_top" %>
<% else %>
  <%= render "no_login_user_top" %>
<% end %>
<section>
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>総合戦績ページ</h2>
        <p class="lead">総合戦績ページでは自分のアカウントや登録ユーザーの戦績を簡単に確認できます。</p>
        <ul>
          <li>アカウント全体のキル数やダメージ数、勝利数などの戦績</li>
          <li>各レジェンドのキル数やダメージ数、勝利数などの戦績</li>
          <li>各戦績のランキングの表示</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>試合履歴カレンダー</h2>
                <p class="lead">試合履歴ページでは日毎のキル数を表示します。また、日付をクリックするとその日使用したレジェンドのキル数、ダメージ数、勝利数を表示します。</p>
            </div>
        </div>
    </div>
</section>
<section>
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>ApexLegendsでの戦績を反映させるには</h2>
        <p class="lead">当サービスに自分の戦績を反映させるには、以下の操作を行ってください。</p>
        <ol>
          <li>Apex Legendsを開き、戦績を表示したいレジェンドを選択します。</li>
          <li>レジェンドごとに「Apex - キル数」「Apex - 勝利数」「Apex - 与ダメージ」などのトラッカーをバナーに設定します。
            <ul>
              <li>
                ※Tracker NetworkとApex Legendsの仕様上、レジェンドの戦績はバナーに指定したトラッカー3種類しか取得できないため、「プレイ回数」や「キルリーダーとしてのキル数」も反映させたい場合は、随時トラッカーを付け替えてください。<br>
                バナーから外したトラッカーの内容は、再度付け直すまで更新されません。
              </li>
            </ul>
          </li>
        </ol>
        <img src="/assets/tracker.gif">
        <img src="/assets/setting_result.png">
      </div>
    </div>
  </div>
</section>
