<% if user_signed_in? %>
  <%= render "login_user_top" %>
<% else %>
  <%= render "no_login_user_top" %>
<% end %>
<section>
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>総合戦績ページ</h2>
        <p class="lead">総合戦績ページでは自分のアカウントや登録ユーザーの戦績を簡単に確認できます。</p>
        <ul>
          <li>アカウント全体のキル数やダメージ数、勝利数などの戦績</li>
          <li>各レジェンドのキル数やダメージ数、勝利数などの戦績</li>
          <li>各戦績のランキングの表示</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>試合履歴カレンダー</h2>
                <p class="lead">試合履歴ページでは日毎のキル数を表示します。また、日付をクリックするとその日使用したレジェンドのキル数、ダメージ数、勝利数を表示します。</p>
            </div>
        </div>
    </div>
</section>
