<header class="bg-gradient header header-mypage">
  <div class="header-container">
  <%= render "shared/breadcrumbs" %>
    <h2>ユーザー一覧</h2>
    <p>登録ユーザー：<%=@users_result.count %></p>
    <hr class="hr-white">
    <p>ユーザー一覧では、登録しているユーザーが掲載されます。<br>またユーザー名やプラットフォーム、現在のランクからユーザーを検索することができます。</p>
  </div>
</header>
<div class="bg-dark-black">
  <div class="search-area">
    <div class="search-container bg-gray">
      <%= render "shared/user_search_form" %>
      <hr class="hr-white">
      <%= render "shared/user_search_result", users: @users %>
    </div>
  </div>
</div>
