<header class="bg-gradient header header-mypage">
  <div class="header-container">
    <%= render "shared/breadcrumbs" %>
    <h2>ユーザー検索結果</h2>
    <p>検索結果：<%=@users_result.count %></p>
    <hr class="hr-white">
    <p>ユーザー検索結果では、登録しているユーザーを条件別に検索、その結果を表示します。</p>
  </div>
</header>
<div class="bg-dark-black">
  <div class="main-area">
    <div class="main-container bg-gray">
      <%= render "shared/user_search_form" %>
      <hr class="hr-white">
      <% if @users_result.blank? %>
        <div class="results">
          <p>該当するユーザーは見つかりませんでした。別の条件で検索してみてください。</p>
        </div>
      <% else %>
        <%= render "shared/user_search_result", users: @users_result %>
      <% end %>
    </div>
  </div>
</div>
