<div class="bg-dark-black">
  <div class="search-area">
    <div class="search-container bg-gray">
      <%= render "shared/user_search_form" %>
      <hr class="hr-white">
      <%= render "shared/user_search_result" %>
    </div>
  </div>
</div>
