<header class="bg-gradient header header-mypage">
  <div class="header-container">
    <div class="header-container-first-line">
      <div class="header-mypage-left" >
        <%= image_tag "default_avatar.jpg", class: "user-avatar" %>
        <div class="header-mypage-user-profiel">
          <h2><%= current_user.name %></h2>
          <p>steam:Twitch_Ne1u</p>
        </div>
      </div>
      <div class="header-mypage-right">
        <div class="profile-edit-btn">
          <%= link_to "プロフィールを編集する", edit_user_registration_path, class: "btn-dark btn-lg btn btn-border-color-white" %>
        </div>
      </div>
    </div>
    <hr class="hr-white">
    <div class="header-container-second-line">
      <p><%= current_user.self_introduction %></p>
    </div>
  </div>
</header>
<div class="game-status">
</div>
