<div class="trn-failed-stats-area">
  <div class="trn-failed-stats-container bg-gray">
    <h2>APIのリクエス数が上限に達しました。</h2>
    <hr class="hr-white">
    <div class="trn-failed-stats-body">
      <div class="trn-error-check-list">
        <p>Tracker Networkへのリクエスト数が上限に達しため戦績を取得できませんでした。</p>
        <p>・時間を空けてから再度お試しください。</p>
      </div>
    </div>
  </div>
</div>
