<footer class="py-5 bg-dark">
    <div class="container px-4 ">
      <p class="m-0">お問い合わせは<%= link_to "こちら", new_contact_path, class: "default-link" %>から。</p>
      <hr class="footer-hr-white">
      <p class="m-0">&copy; 当サイト上で使用しているゲーム画像の著作権はElectronic Arts Inc.およびRespawn Entertainmentに帰属します。</p>
      <p class="m-0">&copy; 2023 Takamasa Kurio</p>
    </div>
</footer>
