<div class="">
  <%= search_form_for @q, url: search_users_path do |f| %>
    <%= f.search_field :name_or_game_account_info_platform_or_game_account_info_gameid_cont, class: "", placeholder: "キーワード検索" %>
    <%= f.submit '検索' %>
  <% end %>
</div>
