<div class="trn-failed-stats-area">
  <div class="trn-failed-stats-container bg-gray">
    <h2>戦績を取得できませんでした</h2>
    <hr class="hr-white">
    <div class="trn-failed-stats-body">
      <div class="trn-error-check-list">
        <p>プラットフォーム・IDは正しく入力されていますか？</p>
        <% if @user == current_user %>
          <p>・<%= link_to "ゲームアカウントを登録・編集する", edit_game_account_info_path(@user) %>からプラットフォーム・IDが正しく入力されているか確認してください。</p>
        <% else %>
          <p>・ゲームアカウントを登録・編集するからプラットフォーム・IDが正しく入力されているか確認してください。</p>
        <% end %>
      </div>
      <div class="trn-error-check-list">
        <p>Tracker Networkにゲームアカウントは紐付けされていますか？</p>
        <p>・Tracker Networkのホームページからアカウントを連携してください。</p>
      </div>
    </div>
  </div>
</div>
