<div class="trn-failed-stats-area">
  <div class="trn-failed-stats-container bg-gray">
    <h2>戦績を取得できませんでした</h2>
    <hr class="hr-white">
    <div class="trn-failed-stats-body">
      <div class="trn-error-check-list">
        <p>プラットフォーム・IDは正しく入力されていますか？</p>
        <%binding.pry%>
        <p>・<%= link_to "ゲームアカウントを登録・編集する", edit_game_account_info_path %>からプラットフォーム・IDが正しく入力されているか確認してください。</p>
      </div>
      <div class="trn-error-check-list">
        <p>Tracker Networkにゲームアカウントは紐付けされていますか？</p>
        <p>・Tracker Networkのホームページからアカウントを連携してください。</p>
      </div>
    </div>
  </div>
</div>
