<header class="bg-gradient header header-mypage">
  <div class="header-container">
  <%= render "shared/breadcrumbs" %>
    <h2>送信完了</h2>
    <hr class="hr-white">
    <p>お問い合わせいただきありがとうございます。以下の内容で受け付けました。</p>
  </div>
</header>
<div class="bg-dark-black">
  <div class="main-area">
    <div class="main-container bg-gray">
      <div class="main-field">
          <div class="main-form">
            <div class="main-form-left">
              <p>お名前</p>
            </div>
            <div class="main-form-right">
              <%= @contact.name %>
            </div>
          </div>
          <hr class="hr-white">
          <div class="main-form">
            <div class="main-form-left">
              <p>メールアドレス</p>
            </div>
            <div class="main-form-right">
              <%= @contact.email.present? ? @contact.email : "未入力" %>
            </div>
          </div>
          <hr class="hr-white">
          <div class="main-form">
            <div class="main-form-left">
              <p>お問い合わせ内容</p>
            </div>
            <div class="main-form-right">
              <p><%= @contact.message %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
