<p>パスワード再設定のリクエストを受け付けました。</p>

<p><%= link_to "こちら", edit_password_url(@user, reset_password_token: @token) %>からパスワードの再設定を行なって下さい。</p>
<p>※URLの有効期限は30分です。</p>
<p>パスワードリセットの申請に心当たりがない場合は、こちらのメールは破棄して下さい。</p>
